<div class="intro">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">The Quotes World </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#intro-para"><i class="fa fa-home" aria-hidden="true"></i>
                    Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#quotes">Quotes<i class="fa fa-book"
                        aria-hidden="true"></i></a>
                <a class="nav-item nav-link active" href="#Favquotes"><i class="fa fa-bookmark" aria-hidden="true"></i>
                    Fav Quotes</a>
                <a class="nav-item nav-link active" href="#addquote"><i class="fa fa-plus" aria-hidden="true"></i>
                    Add Quotes</a>
            </div>
        </div>

    </nav>
</div>
