/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css"; 
@import "~font-awesome/css/font-awesome.css";  


button{
    margin-right: 10%;
}
body{
    background-image: url("src/assets/back1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    background-image: url("src/assets/back4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
}
.jumbotron{
    background-image: url("src/assets/back5.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*   */